/* Looking Glass */

// Dialog
#LookingGlassDialog {
  background-color: $osd_bg_color;
  border-radius: 0 0 $modal_radius $modal_radius;
  border-top-width: 0;
  border: 1px solid $osd_outer_borders_color;
  color: $osd_fg_color;
  padding: $base_padding;
  spacing: $base_padding;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);

  & > #Toolbar {
    border: none;
    padding: $base_padding;
    border-radius: 0;
    background-color: transparent;
    spacing: $base_padding;

    .lg-toolbar-button {
      padding: $base_padding $base_padding*2;
      @extend %button;

      & > StIcon { icon-size: $base_icon_size; }
    }
  }

  .labels { 
    spacing: $base_padding;
  }

  .notebook-tab {
    -natural-hpadding: $base_padding*2;
    -minimum-hpadding: $base_padding*2;

    font-weight: bold;
    padding: $base_padding $base_padding*2;
    color: darken($osd_fg_color, 15%);
    transition-duration: 100ms;
    box-shadow:none;
    border:none;
    border-radius: $base_border_radius - 2px;
    background-color: transparent;

    &:hover {
      color: $osd_fg_color;
      background-color: transparentize($osd_fg_color, 0.95);
    }

    &:selected {
      color: $osd_fg_color;
      background-color: transparentize($osd_fg_color, 0.9);
    }
  }

  StBoxLayout#EvalBox { padding: 4px; spacing: $base_padding; padding: $base_padding; }
  StBoxLayout#ResultsArea { spacing: $base_padding; padding: $base_padding; }
}

.lg-dialog {

  StEntry {
    background-color: transparentize(lighten($osd_bg_color, 5%), 0.4);
    color: $osd_fg_color;
    border-color: transparentize($osd_fg_color, 0.8);
    min-height: 22px;
    selection-background-color: $selected_bg_color;
    selected-color: $selected_fg_color;
  }

  .shell-link {
    color: $link_color;
    &:hover { color: lighten($link_color, 10%); }
    &:active { color: darken($link_color, 10%); }
   }

  .actor-link {
    color: $insensitive_fg_color;
    &:hover { color: lighten($insensitive_fg_color, 20%); }
    &:active { color: darken($insensitive_fg_color, 20%); }

    & StIcon { icon-size: 12px; }
   }
}

.lg-completions-text {
  @extend %caption;
  font-style: italic;
}

.lg-obj-inspector-title {
  spacing: $base_padding;
}

.lg-obj-inspector-button {
  border: 1px solid $osd_borders_color;
  padding: 4px;
  border-radius: $base_border_radius;
  &:hover { border: 1px solid #ffffff; }
}

// Extensions
#lookingGlassExtensions { padding: $base_padding; }

.lg-extensions-list {
  padding: $base_padding;
  spacing: $base_padding;
}

.lg-extension {
  padding: $base_padding*2;
  @include card;
}

.lg-extension-name {
  @extend %heading;
}

.lg-extension-meta {
  spacing: $base_padding;
}

// Inspector
#LookingGlassPropertyInspector {
  background: $osd_bg_color;
  border: 1px solid $osd_borders_color;
  border-radius: $base_border_radius;
  padding: $base_padding;
}

.lg-debug-flag-button {
  StLabel { padding: $base_padding, 2 * $base_padding; }

  color: $fg_color;
  &:hover { color: lighten($fg_color, 20%); }
  &:active { color: darken($fg_color, 20%); }
}

.lg-debug-flags-header {
  padding-top: 2 * $base_padding;
  padding: $base_padding;
  @extend %title_2;
}
